@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
}

#logout {
	margin-bottom: 1rem !important;
}

.shorten,
.registration,
.login,
.dashboard {
	display: grid;
	place-items: center;
	min-height: 80vh;
	min-width: 60vw;
}

.shorten_container,
.registration_container,
.login_container,
.dashboard_container {
	padding: 10px;
}

.MuiFormControl-root {
	margin-bottom: 1rem !important;
}

h4 {
	text-align: center;
}

label {
	margin: 5px;
}

.header {
	display: flex;
	justify-content: center;
	align-self: center;
	min-height: 10vh;
	background-color: #1769aa;
	color: #fff;
	font-size: x-large;
	font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 576px) {
	.header {
		font-size: large;
	}
}

h2 {
	padding: 5px;
}

.urls {
	border: 5px solid white;
	margin: 0.5rem 0;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form#shortener {
	margin-bottom: 1rem !important;
}

span {
	margin: 0 0.5rem;
}
